body {
	background-image: url(../img/bg.png);
}
.youtube-results {
	margin-top: 60px;
}
.youtube-results .thumbnail .label {
	position: absolute;
	top: .5em;
	right: .5em;
}

.youtube-results .panel-body {
	max-height: 250px;
	overflow: auto;
}
.youtube-results .panel-heading {
	max-height: 81px;
	height: 81px;
	overflow: hidden;
}
.youtube-results .label {
	position: absolute;
	right: 17px;
	top: 2px;
}